@import url('https://fonts.googleapis.com/css2?family=Courgette&family=Diplomata+SC&family=Indie+Flower&family=Shadows+Into+Light&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Courgette&family=Diplomata+SC&family=Indie+Flower&family=Shadows+Into+Light&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style-type: none;
}

body{
    width: 100%;
    min-height: 100vh;
    background: no-repeat;
    background-image: url(../IMG/314184main_oco_wall6_1600x1200.jpg);
    background-size: 300vh;
    }

.cabecalho{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.imagem-logo{
    width: 100px;
    height:80px;
    padding: 5px;
}

.menu{
    margin-right: 100px;
    justify-content: center;
    flex-direction: row;
}
.menu-itens{
    
    font-family: 'Sarala', sans-serif;
    color: rgb(66, 113, 245);
    font-weight: 700;
    font-size: 15px;
    transition: font-size 0.2s;
    padding: 14px;
}
.menu-list{
    display: flex;
}

.menu-itens:hover{
    font-size: 22px;
    color: rgb(19, 144, 247);
}

.container{
    display:flex;
    flex-wrap: wrap;
    box-sizing: center;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.titulo,.img-titulo{
    background-image: url(../IMG/imagem2.jpg);
    background-clip: text;
    -webkit-background-clip: text;
    color:transparent;
    font-size: 3rem;
    text-align: center;
    width:100%;
    font-family: 'Courgette', cursive;
}

.img-titulo{
    font-size: 1.8rem;
}
.pesquisa{
    margin: 20px 50px 20px 50px;
    width: 100%;
    text-align: center
}

#data, #enviar{
    height: 27px;
    width: 100px;
}

.resposta{
    display:flex;
    flex-direction: column;
    width: 100%;
    min-height:100vh;
    padding: 30px;
    align-items: center;
    text-align: center;
    align-content: space-between;
}

.img-apod{
    width: 100%;
    height: 50vh;
    margin-top: 15px;
    margin-bottom: 15px;
}
.font{
    color: bisque;
    font-family: 'Cormorant Garamond', serif;
    font-size:20px

}
.rodape{
    justify-content: space-around;
    padding: 10px;
    text-align: center;
    background-color: rgba(240, 248, 255, 0.062);
} 
.item1, .item2 {
    width: 100%;
    height: 30px;
}

.rodape img{
    width: 40px;
    height: 30px;
    margin-right: 30px;
}